<%- include('header') -%>
  <h1 id="about">About Little Sam</h1>
  <div>
    <span id="content">
      Don't you dare mess with Little Sam. That's all you need to know about Little Sam.
    </span>
  </div>
  <%- include('footer') -%>